<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sark_description)/robots/sarkofag.urdf.xacro'" />
 
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
  
  <node pkg="diagnostic_aggregator" type="aggregator_node"
        name="diagnostic_aggregator" >
        
  <rosparam command="load" file="$(find sark_bringup)/config/sark_analyzers.yaml" />
  </node>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="SARK_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find sark_bringup)/config/sark_nohardware.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>
  
  <include file="$(find sark_bringup)/launch/sark-inside.launch" ns="SARK_OROCOS_ROBOT">
  </include>

  <group ns="SARK_OROCOS_ROBOT">
    <rosparam>
      ECManager:
        hal_component_name: SarkEcHwModel
      SarkEcHwModel:
        iteration_per_step: 1
        step_per_second: 500
        torque_constant: [0.105]
        input_current_multiplicator: [13.3]
        inertia: [0.00015]
        viscous_friction: [0.02]
        services_names: [sarkofag]
    </rosparam>
  </group>

</launch>
