<launch>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="CONV_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find sarkofag_bringup)/config/sark.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>

  <group ns="CONV_OROCOS_ROBOT">
    <rosparam>
      Sarkofagscheme:
        scheme_name: sarkofag_manager
      SarkofagHardwareInterface:
        auto_synchronize: true
        rwh_nsec: 1200000
        active_motors: [sarkofag]
        hardware_hostname: sarkofag
        test_mode: false
        timeouts_to_print: 3
        sarkofag:
          label: sarkofag
          ports_adresses: /dev/ttyMI7
          synchro_needed: 1
          max_current: 20000
          max_increment: 10000.0
          max_desired_increment: 200.0
          card_indexes: 0
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode: 1
      SarkofagSplineTrajectoryGeneratorJoint:
        number_of_joints: 1
      SarkofagSplineTrajectoryActionJoint:
        joint_names: [joint1]
        lower_limits: [-1000.0]
        upper_limits: [1000.0]
      SarkofagMotorParameters:
        lower_limits: [-100000.0]
        upper_limits: [100000.0]
      SarkofagSplineTrajectoryGeneratorMotor:
        number_of_joints: 1
      SarkofagSplineTrajectoryActionMotor:
        joint_names: [joint1]
      SarkofagLimitDetector:
        console_notification_active: true
        pos_inc_limit: [0.0]
        pos_limit_active: [false]
        pos_inc_limit_active: [false]
      SarkofagRegulator:
        debug: false
        eint_dif: 0.01
        A: 0.412429378531
        BB0: 1.5569592
        BB1: 1.5028614
        current_mode: true
        current_reg_kp: 200.0
        max_output_current: 20000.0
        max_desired_increment: 2000.0
        enc_res: 4000.0
      SarkofagCasRegulator:
        debug: false
        eint_dif: 0.01
        A: 0.412429378531
        BB0: 1.5569592
        BB1: 1.5028614
        current_mode: true
        current_reg_kp: 200.0
        max_output_current: 20000.0
        max_desired_increment: 2000.0
        enc_res: 4000.0
        KP_POS: 56.551942454832050
        TI_POS: 39.284532385221590
        TD_POS: 0.039012248063923
        KP_INC: 0.890242379819815
        TI_INC: 360.1924908049028
        TD_INC: 0.001262394913177
      SarkofagLogger:
        reg_number: 1
        max_log: 100
        full_log: false
        debug: false
        pre_syn_export: false
        filename: sarkofag
      SarkofagPortDoubleSplit_hw_cp:
        number_of_ports: 1
      SarkofagPortDoubleSplit_hw_cv:
        number_of_ports: 1
      SarkofagPortDoubleAggregate_hw_p:
        number_of_ports: 1
      SarkofagPortDoubleSum:
        number_of_ports: 1
      SarkofagJntPub:
        joint_names: [SarkofagJoint]
    </rosparam>
  </group>

</launch>
